
<html>
<head>
    <meta charset="UTF-8">
    <title>글내용</title>
</head>
<body>
    <h3><%= postData.TITLE %></h3>
    <hr>
    <div class="text_content" style="white-space: pre-line;">
        <%= postData.CONTENT %>
    </div>
</body>
</html>